.editorTheme .annotationLine.currentLine {
	background-color: #3B4B53;
	color: #1bd2f7;
}
.editorTheme .annotationLine.searchRange {
	background-color: #6C7279;
}
.editorTheme .annotationOverview.diffDeleted {
	color: #FF0000;
}
.editorTheme .annotationOverview.error {
	background-color: #FF898C;
}
.editorTheme .annotationOverview.info {
	background-color: #65C8FF;
}
.editorTheme .annotationOverview.warning {
	background-color: #FFFF00;
}
.editorTheme .annotationRange.currentBracket {
	background-color: #006E00;
	color: #94EAFB;
}
.editorTheme .annotationRange.currentLinkedGroup {
	background-color: rgba(16,106,91,0.8);
	outline: 1px solid #BEA100;
}
.editorTheme .annotationRange.currentSearch {
	background-color: #5d5d5d;
}
.editorTheme .annotationRange.error {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAYAAAC09K7GAAAAHUlEQVQYV2NkgIL/nT3/GctLGBlBfBgHTMM4MJUAe30PF+f8aegAAAAASUVORK5CYII=);
}
.editorTheme .annotationRange.info {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAYAAAC09K7GAAAAH0lEQVQYV2NkgILUE///z7ZgZGQE8WEcEM0I48BUAgB9cA8vM5pJ1QAAAABJRU5ErkJggg==);
}
.editorTheme .annotationRange.matchingBracket {
	background-color: #006E00;
	color: #94EAFB;
}
.editorTheme .annotationRange.matchingSearch.currentSearch {
	background-color: #465E47;
}
.editorTheme .annotationRange.matchingSearch {
	background-color: #363636;
	outline: 1px solid;
	outline-color: rgba(24, 159, 227, 1);
}
.editorTheme .annotationRange.readOccurrence {
	background-color: #CACACA;
	outline: 1px solid #BEA100;
}
.editorTheme .annotationRange.selectedLinkedGroup {
	background-color: rgb(16,106,91);
	outline: 1px solid #BEA100;
}
.editorTheme .annotationRange.warning {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAYAAAC09K7GAAAAHUlEQVQYV2NkgIL//xn+MzIyMDKC+DAOmIZxYCoBNEkMAR1F6ZQAAAAASUVORK5CYII=);
}
.editorTheme .annotationRange.writeOccurrence {
	background-color: #093f59;
	outline: 1px solid #BEA100;
}
.editorTheme .comment {
	color: #ADB9C0;
}
.editorTheme .constant.numeric {
	color: #D3AAFE;
}
.editorTheme .constant {
	color: #F47D64;
}
.editorTheme .entity.name.function {
	color: #7EC5C3;
	font-weight: bold;
}
.editorTheme .entity.name {
	color: #98937B;
}
.editorTheme .entity.other.attribute-name {
	color: #01B199;
}
.editorTheme .keyword.control {
	color: #FCD600;
	font-weight: bold;
}
.editorTheme .keyword.operator {
	color: #FFFFFF;
	font-weight: bold;
}
.editorTheme .keyword.other.directive {
	color: #DAA1C0;
}
.editorTheme .keyword.other.documentation.task {
	color: #8DB6F1;
}
.editorTheme .keyword.other.documentation {
	color: #7F9FBF;
}
.editorTheme .lines .annotation.blame {
	background-color: rgb(177, 74, 0);
	color: #EBEBEB;
}
.editorTheme .lines .annotation.currentBlame {
	background-color: rgb(148, 53, 211);
}
.editorTheme .lines .annotation.diffAdded {
	background-color: rgb(116, 149, 73);
	color: rgb(36, 36, 36);
}
.editorTheme .lines .annotation.diffModified {
	background-color: rgb(66, 133, 162);
	color: rgb(19, 19, 19);
}
.editorTheme .markup.bold {
	font-weight: bold;
}
.editorTheme .markup.heading {
	color: #91C23D;
}
.editorTheme .markup.italic {
	font-style: italic;
}
.editorTheme .markup.list {
	color: #CC4C07;
}
.editorTheme .markup.other.separator {
	color: #E8D075;
}
.editorTheme .markup.other.strikethrough {
	text-decoration: line-through;
}
.editorTheme .markup.other.table {
	color: #3C802C;
}
.editorTheme .markup.quote {
	color: #446FBD;
}
.editorTheme .markup.raw.html {
	background-color: #696969;
	color: white;
}
.editorTheme .markup.raw {
	font-family: monospace;
}
.editorTheme .markup.underline.link {
	text-decoration: underline;
}
.editorTheme .meta.documentation.annotation {
	color: #A1BAD5;
}
.editorTheme .meta.documentation.tag {
	color: #9898B2;
}
.editorTheme .meta.preprocessor {
	color: #A4A4A4;
}
.editorTheme .meta.tag {
	color: #C0BDDC;
}
.editorTheme .punctuation.operator {
	color: #FFA83E;
}
.editorTheme .ruler {
	background-color: #26343F;
}
.editorTheme .rulerLines {
	color: #93A2AA;
}
.editorTheme .string.interpolated {
	color: #DADADA;
}
.editorTheme .string {
	color: #01D1B6;
}
.editorTheme .support.type.propertyName {
	color: #FFFFFF;
}
.editorTheme .textviewContent ::-moz-selection {
	background-color: rgba(16,106,91,0.99);
}
.editorTheme .textviewContent ::selection {
	background-color: rgba(16,106,91,0.99);
}
.editorTheme .textviewLeftRuler {
	border-right: 1px solid #424C53;
}
.editorTheme .textviewRightRuler {
	border-left: 1px solid #424C53;
}
.editorTheme .textviewSelection {
	background-color: rgba(16,106,91,0.99);
}
.editorTheme .textviewSelectionUnfocused {
	background-color: rgba(16,106,91,0.99);
}
.editorTheme .variable.language {
	color: #9994CA;
	font-weight: bold;
}
.editorTheme .variable.other {
	color: #E038AD;
}
.editorTheme .variable.parameter {
	color: #8CD211;
}
.editorTheme.textview {
	background-color: #26343F;
	color: #07ADCF;
	font-family: "Consolas", "Menlo", "Monaco", "Vera Mono", monospace;
	font-size: 12px;
}