<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% seo %}
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>{{ page.title }}&mdash;{{ site.title }}</title>
  <!-- Google Analytics -->
  <script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', 'UA-80656237-2', 'auto');
    ga('send', 'pageview');
  </script>
  <script async src='https://www.google-analytics.com/analytics.js'></script>
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  <!-- Bootstrap -->
  <link href="{{ site.baseurl }}/assets/css/main_new.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  {% if page.additional_css %}
  {% for dep in page.additional_css %}
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/{{ dep }}.css"/>
  {% endfor %}
  {% endif %}
</head>

<style lang="scss" scoped>
</style>

<body>
  <div id="fb-root"></div>
  <header class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
              <img alt="Halite" src="/assets/images/full_logo.svg">
            </a>
          </div>
          <div id="navbar" class="navbar hidden-md hidden-xs">
              <ul class="nav navbar-nav pull-right ">
                  <li><a href="{{ site.baseurl }}/about/contact/"><span>Contact Us</span></a></li>
              </ul>
          </div>
    </div>
  </header>

  <div class="body">
        {{ content }}
      </div>

<script>
   import * as api from "../api";

   export default {
       name: "home",
       props: ['baseUrl'],
       data: function() {
           const me = api.me_cached();
           let me_in = false;
           if (me) {
               return {
                   me_in: true,
               };
           }
           return {
               me_in
           };
       },
       mounted: function() {
       },
       methods: {
       },
   }
</script>

  <footer class="footer">
    <nav class="navbar">
      <div class="container-fluid">
        <ul class="nav">
          <li><a href="/about/contact">Contact</a></li>
          <li><a href="/about/terms-and-conditions">Terms and Conditions</a></li>
          <li><a href="/about/privacy">Privacy Policy</a></li>
          <li><a href="https://2016.halite.io">Halite I</a></li>
        </ul>
      </div>
    </nav>
    <div class="footer-below">
      <div class="container-fluid">
          <div class="footer-copy">
            <div class="footer-copy center-block align-bottom">
                <img src="{{ site.baseurl }}/assets/images/full_logo.svg" class="footer-copy-logo" alt="">
                <p> &copy; Halite by <a class="base-link" href="https://www.twosigma.com" target="_blank">Two Sigma</a>, 2017. All rights reserved.</p>
            </div>
          </div>
      </div>
    </div>
  </footer>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  {% if page.additional_js %}
  {% for dep in page.additional_js %}
  <script src="{{ site.baseurl }}/assets/js/{{ dep }}.js"></script>
  {% endfor %}
  {% endif %}

  <script src="{{ site.baseurl }}/assets/js/bundle.js"></script>

  <script>
    var _global = {}
    _global.baseUrl = '{{ site.baseurl }}';
  </script>

  {% if page.mount_view %}
  <script>
    window.views["{{ page.mount_view }}"]();
  </script>
  {% endif %}

  {% if page.mount_views %}
  <script>
    {% for mount_view in page.mount_views %}
    window.views["{{ mount_view }}"]();
    {% endfor %}
  </script>
  {% endif %}
</body>

</html>
