---
layout: default
---

<script>
function check()
{
  if(!document.getElementById("subscribe-email").checkValidity())
  {
    document.getElementById("status").style.color = "red"
    document.getElementById("status").textContent = "Invalid email.."
  }
  else
  {
    let content = document.getElementById("subscribe-email").value
    const xhr = new XMLHttpRequest()
    var url = "http://35.190.3.178/v1/api/user/addsubscriber/" + content
    xhr.open("POST", url, true)
    xhr.send()
    document.getElementById("status").style.color = "green"
    document.getElementById("status").textContent = "You are subscribed to Halite II updates"
  }
}

var countDownDate = new Date("October 23, 2017 12:00:00").getTime();
var x = setInterval(function() 
{
  var now = new Date().getTime();
  var distance = countDownDate - now;
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);
  document.getElementById("launchTimer").textContent = "October 23rd, 2017: " + days + "d " + hours + "h " + minutes + "m " + seconds + "s ";
}, 1000);
</script>

<div class="home-container">
        <div class="row">
            <div class="col-md-12">
                    <p id="launchTimer" class="t3 c-gry font-headline"></p>
                    <p class="t1 c-wht font-headline">HALITE II</p>
                    <p class="d1 c-org font-headline">MAY THE BEST BOT WIN</p>
                    <p class="d1 c-wht font-headline">Follow us for up to date status heading into the launch</p>
                    <p class="t2 c-gry font-headline">
                        <a href="https://www.facebook.com/haliteAI/" target="_blank"><i class="fa fa-facebook-official t2 c-gry"></i></a>
                        <a href="https://twitter.com/intent/follow?screen_name=haliteai" target="_blank"><i class="fa fa-twitter t2 c-gry"></i></a>
                        <a href="https://github.com/halitechallenge/Halite-II" target="_blank"><i class="fa fa-github t2 c-gry"></i></a>
                    </p>
                    <p class="d1 c-org font-headline">AND SUBSCRIBE...</p>
                    <div class="ha-button-container">
                        <div>
                            <input id="subscribe-email" type="email" type="text" required="required" placeholder="hplayer@example.com" > 
                            <button class="btn btn-primary" type="submit" id="subscribe-submit" onClick="javascript:check();"><span>SUBSCRIBE</span></button>
                        </div>
                        <br/>
                        <p id="status" class="t4 c-gry"></p>
                    </div>
                </div>
            <div class="col-md-12">
               <div class="arrows-icon">
                   <div class="scroll-arrow"></div>
                   <div class="scroll-arrow"></div>
                   <div class="scroll-arrow"></div>
               </div>
            </div>
            <div class="col-md-12 des">
                <div class="col-md-offset-1 col-md-4">
                    <img src="/assets/images/temp/bot_1.png"/>
                </div>
                <!-- <div class="col-md-offset-2 col-md-4 halite-easter-egg">
                    <img src="/assets/images/temp/bot_2.png"/>
                </div> -->
                <div class="words col-md-offset-2 col-md-4">
                   <p class="t2 c-wht font-headline">WHAT IS HALITE?</p>
                    <div class="line-container"><i class="xline xline-top"></i></div>
                    <p class="t5 c-gry">Halite is an artificial intelligence programming challenge. Players control a bot using the programming language of their choice. Bots fight for control of a 2D grid. The bot with the most territory at the end wins. Victory will require micromanaging of the movement of your pieces, optimizing your bot’s combat ability, and braving a branching factor billions of times higher than that of Go.</p>
                    <div class="line-container"><i class="xline xline-top"></i></div>
                    <div class="ha-button-container t2 c-wht">
                        <div class="ha-button no-bg-button"> <a href="https://www.reddit.com/r/Halite/" target="_blank">ABOUT</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
               <div class="arrows-icon">
                   <div class="scroll-arrow"></div>
                   <div class="scroll-arrow"></div>
                   <div class="scroll-arrow"></div>
               </div>
            </div>
            <div class="col-md-12 ha-line">
            </div>    
            <div class="col-md-12 big-menu center-block">
                <div class="col-md-12">
                    <div class="menu-header">
                        <div class="line-container"><i class="xline xline-top"></i></div>
                        <img src="/assets/images/temp/career.png"/>
                        <div class="line-container"><i class="xline xline-top"></i></div>
                    </div>
                    <div class="menu-body">
                        <div class="line-container"><i class="xline xline-top"></i></div>
                        <div class="line-container line-2"><i class="xline xline-top"></i></div>
                        <div class="clear"></div>
                        <div class="content">
                            <p class="t3 c-wht">CAREERS AT TWO SIGMA</p>
                            <p class="t5 c-gry">Two Sigma, the creator of the Halite competition, is excited to meet the exceptionally talented players of the Halite community. They will waive first round interview for any Halite player who achieves Gold or above. </p>
                            <div class="clear"></div>
                            <div class="ha-button-container">
                                <div class="ha-button no-bg-button"><span>EXPLORE CAREERS</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>