body {
	padding-top: 20px;
}

.navbar {
	margin-bottom: 20px;
}

.jumbotron {
	padding: 0.9em 0.9em;
}

#navvy {
	-moz-border-radius: 2px;
	border-radius: 2px;
}

#jHeader {
	font-size: 50px;
}

#myFile {
	display:none;
}

#gameFile {
	display:none;
}

#navCont {
	margin:0 auto;
	width:90%;
}

#loginNav {
	display:inline;
}

#logoutNav {
	display:none;
}

#archivedTag {
	display:none;
}

.gameRow {
	display:none;
}

#leaderTable {
	padding-bottom:0px;
	margin-bottom:0px;
}

.gameRow {
	background-color:#F8F8F8;
}

.arrow {
	height: 16px;
	width: 16px;
	cursor: pointer;
}

.file-icon {
	height: 16px;
	width: 16px;
}
