.halite-visualizer {
    font-size: 1rem;
    font-family: sans-serif;
}

.halite-dnd-popup {
    position: fixed;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.halite-dnd-popup {
    text-align: center;
}

.halite-dnd-popup.hidden {
    display: none;
}

.halite-play-pause {
    width: 20%;
    border: 0;
    font-size: inherit;
    font-family: inherit;
    padding: 1rem;
    margin: 0;
    color: #FFF;
}

.halite-play-pause-pause {
    background: #F00;
}

.halite-play-pause-play {
    background: #0F0;
}

.halite-frame-display-container {
    display: inline-block;
    width: 30%;
}

.halite-frame-display {
    border: 0;
    font-family: inherit;
    font-size: inherit;
    padding: 0;
    margin: 0;
    -webkit-appearance: inherit;
    display: inline;
}

.halite-frame-scrubber {
    margin: 0;
    padding: 0;
    width: 50%;
}