<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% seo %}
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>{{ page.title }}&mdash;{{ site.title }}</title>
  <!-- Google Analytics -->
  <script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', 'UA-80656237-2', 'auto');
    ga('send', 'pageview');
  </script>
  <script async src='https://www.google-analytics.com/analytics.js'></script>
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  <!-- Bootstrap -->
  <link href="{{ site.baseurl }}/assets/css/main_new.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  {% if page.additional_css %}
  {% for dep in page.additional_css %}
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/{{ dep }}.css"/>
  {% endfor %}
  {% endif %}
</head>

<body>
  <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=492754127756731";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
  <header class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <button class="btn btn-sm navbar-signin">
          <span>
            <i class="fa fa-github"></i>
            Sign in
          </span>
        </button>
        <a class="navbar-brand" href="{{ site.baseurl }}/">
          <img alt="Halite" src="{{ site.baseurl }}/assets/images/full_logo.svg">
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              <li class="{% if page.menu == 'learn' %} active {% endif %}"><a href="{{ site.baseurl }}/learn-programming-challenge"><span>Learn</span><i class="xline xline-bottom"></i></a></li>
              <li class="{% if page.menu == 'editor' %} active {% endif %}"><a href="{{ site.baseurl }}/editor"><span>Code</span><i class="xline xline-bottom"></i></a></li>
              <li class="{% if page.menu == 'play' %} active {% endif %}"><a href="{{ site.baseurl }}/play-programming-challenge"><span>Play</span><i class="xline xline-bottom"></i></a></li>
              <li class="{% if page.menu == 'leaderboard' %} active {% endif %}"><a href="{{ site.baseurl }}/programming-competition-leaderboard"><span>Leaderboard</span><i class="xline xline-bottom"></i></a></li>
              <li class="{% if page.menu == 'tv' %} active {% endif %}"><a href="{{ site.baseurl }}/halite-tv-coding-game-videos"><span>Halite TV</span><i class="xline xline-bottom"></i></a></li>
              <li class="{% if page.menu == 'events' %} active {% endif %}"><a href="{{ site.baseurl }}/hackathon-and-events"><span>Event &amp; Hackathons</span><i class="xline xline-bottom"></i></a></li>
              <li class="{% if page.menu == 'forums' %} active {% endif %}"><a href="https://forums.halite.io" target="_blank"><span>Forums</span><i class="xline xline-bottom"></i></a></li>
          </ul>
        <ul class="nav navbar-nav navbar-right not-logged-in">
          <li><a href="{{ site.login_server_url }}/github"><i class="fa fa-github"></i>&nbsp;&nbsp;Sign Up</a></li>
          <li><a href="{{ site.login_server_url }}/github">Sign In</a></li>
        </ul>
        <div id="user-profile-bar-container"></div>
      </div>
      <!--/.nav-collapse -->
    </div>
  </header>

  <div class="body">
    {{ content }}
  </div>

  <footer class="footer">
    <nav class="navbar">
      <div class="container-fluid">
        <ul class="nav">
          <li><a href="{{ site.baseurl }}/about">About</a></li>
          <li><a href="{{ site.baseurl }}/about/contact">Contact</a></li>
          <li><a href="{{ site.baseurl }}/about/terms-and-conditions">Terms and Conditions</a></li>
          <li><a href="{{ site.baseurl }}/about/privacy">Privacy Policy</a></li>
          <li><a href="http://status.halite.io">Status</a></li>
        </ul>
      </div>
    </nav>
    <div class="footer-below">
      <div class="container-fluid">
        <div class="footer-below-wrap">
          <div class="footer-subscribe">
            <p class="footer-subscribe-top">Subscribe to our newsletter</p>
            <div class="footer-subscribe-field">
              <input type="text">
              <button class="btn"><span>SUBSCRIBE</span></button>
            </div>
          </div>
          <div class="footer-copy">
            <img src="{{ site.baseurl }}/assets/images/full_logo.svg" class="footer-copy-logo" alt="">
            <p> &copy; Halite by <a class="base-link" href="https://www.twosigma.com" target="_blank">Two Sigma</a>, 2017. All rights reserved.</p>
          </div>
          <div class="footer-social">
            <p class="footer-social-top">
              Follow us
            </p>
            <p class="footer-social-icons">
              <a href="https://www.reddit.com/r/Halite/" target="_blank"><i class="fa fa-reddit-alien"></i></a>
              <a href="https://www.facebook.com/haliteAI/" target="_blank"><i class="fa fa-facebook-official"></i></a>
              <a href="https://twitter.com/intent/follow?screen_name=haliteai" target="_blank"><i class="fa fa-twitter"></i></a>
              <a href="https://github.com/halitechallenge/Halite-II" target="_blank"><i class="fa fa-github"></i></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  {% if page.additional_js %}
  {% for dep in page.additional_js %}
  <script src="{{ site.baseurl }}/assets/js/{{ dep }}.js"></script>
  {% endfor %}
  {% endif %}

  <script src="{{ site.baseurl }}/assets/js/bundle.js"></script>

  <script>
    var _global = {}
    _global.baseUrl = '{{ site.baseurl }}';
  </script>

  {% if page.mount_view %}
  <script>
    window.views["{{ page.mount_view }}"]();
  </script>
  {% endif %}

  {% if page.mount_views %}
  <script>
    {% for mount_view in page.mount_views %}
    window.views["{{ mount_view }}"]();
    {% endfor %}
  </script>
  {% endif %}
</body>

</html>
