<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{{ page.title }}&mdash;{{ site.title }}</title>
    <!-- Google Analytics -->
    <script>
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
        ga('create', 'UA-80656237-2', 'auto');
        ga('send', 'pageview');
    </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
    <!-- Bootstrap -->
    <link href="{{ site.baseurl }}/assets/css/main.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    {% if page.additional_css %}
    {% for dep in page.additional_css %}
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/{{ dep }}.css"/>
    {% endfor %}
    {% endif %}
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
                <a class="navbar-brand" href="{{ site.baseurl }}/"><img alt="Halite" src="{{ site.baseurl }}/assets/images/full_logo.png"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ site.baseurl }}/learn">Learn</a></li>
                    <li><a href="{{ site.baseurl }}/play">Play</a></li>
                    <li><a href="{{ site.baseurl }}/editor">Code</a></li>
                    <li><a href="{{ site.baseurl }}/leaderboard">Leaderboard</a></li>
                    <!--<li><a href="{{ site.baseurl }}/tv">Halite TV</a></li>-->
                </ul>
                <ul class="nav navbar-nav navbar-right not-logged-in">
                    <li><a href="{{ site.login_server_url }}/github">Sign Up</a></li>
                    <li><a href="{{ site.login_server_url }}/github">Login with Github</a></li>
                </ul>
                <div id="user-profile-bar-container"></div>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

    {{ content }}

    <footer class="footer">
        <nav class="navbar navbar-inverse navbar-bottom">
            <div class="container">
                <div id="navbar">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ site.baseurl }}/about">About</a></li>
                        <!--<li><a href="https://forums.halite.io">Forums</a></li>-->
                        <!--<li><a href="{{ site.baseurl }}/blog">Blog</a></li>-->
                        <li><a href="{{ site.baseurl }}/terms">Terms &amp; Conditions</a></li>
                        <li><a href="{{ site.baseurl }}/privacy">Privacy Policy</a></li>
                        <li><a href="{{ site.baseurl }}/contact">Contact Us</a></li>
                    </ul>
                </div>
                <!--/.navbar -->
            </div>
        </nav>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    {% if page.additional_js %}
    {% for dep in page.additional_js %}
    <script src="{{ site.baseurl }}/assets/js/{{ dep }}.js"></script>
    {% endfor %}
    {% endif %}

    <script src="{{ site.baseurl }}/assets/js/bundle.js"></script>

    {% if page.mount_view %}
    <script>
        window.views["{{ page.mount_view }}"]();
    </script>
    {% endif %}

    {% if page.mount_views %}
    <script>
        {% for mount_view in page.mount_views %}
        window.views["{{ mount_view }}"]();
        {% endfor %}
    </script>
    {% endif %}
</body>

</html>
