---
layout: default
---

<div class="row">
    <nav class="col-md-2 doc-nav">
        <header>Learn</header>

        {% include navigation.html %}
    </nav>
    {% capture toc %}{{ content | toc_only | strip }}{% endcapture %}
    {% if page.toc and toc contains 'li' %}
    <div class="col-md-7">
        <div class="page-header">
            <h1>{{ page.title }}</h1>
        </div>
        {{ content | inject_anchors }}
    </div>
    <nav class="col-md-3 toc doc-toc">
        {% if page.toc and toc contains 'li'  %}
        <header>Contents</header>
        {{ toc }}
        {% endif %}
    </nav>
    {% else %}
    <div class="col-md-10">
        <div class="page-header">
            <h1>{{ page.title }}</h1>
        </div>
        {{ content }}
    </div>
    {% endif %}
</div>
