---
layout: base
---

<img src="{{ site.baseurl }}/assets/images/hero.png" alt="Introducing Halite: May the Best Bot Win" id="hero">

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>New to Halite?</h2>

            <button type="button" class="btn btn-default btn-lg">Read Intro Documentation</button>
        </div>
        <div class="col-md-6">
            <h2>Returning User?</h2>

            <button type="button" class="btn btn-default btn-lg">Watch a Game</button>
            <button type="button" class="btn btn-default btn-lg">Check My Stats</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default home-about-halite">
                <div class="panel-body">
                    <p>
                        <strong>Halite is an artificial programming challenge.</strong><br>

                        Players control a bot using the programming language of their choice. Bots fight for control of a 2D grid. The bot with the most territory at the end wins. Victory will require micromanaging of the movement of your pieces, optimizing your bot's combat ability, and braving a branching factor billions of times higher than that of Go.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h2>Mining Halite in Space</h2>

            <p>
                <strong>This year's game is a space story</strong>
            </p>
        </div>
        <div class="col-md-4">
            <img src="http://via.placeholder.com/350x150" alt="Placeholder" class="img-full">
        </div>
    </div>
</div>

