---
layout: base
---

<img src="{{ site.baseurl }}/assets/images/hero.png" alt="Introducing Halite: May the Best Bot Win" id="hero">

<div class="container">
    <div class="row">
        <div class="col-md-6">
             <div class="container">
                <h2>New to Halite?</h2>
                <a href="{{ site.baseurl }}/learn" class="btn btn-default btn-lg">Read Intro Documentation</a>
            </div>           
        </div>
        <div class="col-md-6">
             <div class="container">
                <h2>Returning User?</h2>
                <a href="{{ site.baseurl }}/play" class="btn btn-default btn-lg">Watch a Game</a>
                <a href="{{ site.baseurl }}/user?me" class="btn btn-default btn-lg">Check My Stats</a>
            </div>       
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="container">
              <h2>Halite is an artificial programming challenge.</h2>
              <p>Players control a bot using the programming language of their choice. Bots fight for control of a 2D grid. The bot with the most territory at the end wins. Victory will require micromanaging of the movement of your pieces, optimizing your bot's combat ability, and braving a branching factor billions of times higher than that of Go.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">         
            <div class="container">
                <h2>Mining Halite in Space</h2>
                <p>
                    When last we met, Halite 1 was fought for in the trenches of a battlefield. The fearsome battle, fraught with peril, had left the planet desolate. All the Halite had been mined, and no clear winner had emerged. No faction wished to yield, knowing that he who controls the halite controls all. Alas, since then the people of the Halite have evolved beyond simple on-ground battlefields and are vying for true control of the universe. The war rages on, but whom of the Halatians shall prevail?
                </p>
                <p>
                    <a href="{{ site.baseurl }}/learn/The-Story">Continue reading…</a>
                </p>
            </div>
        </div>     
    </div>
</div>

