.doc-container{
  // .list-nav{
  //   > li > a, > li > span{
  //     color: #858E92;
  //   }
  //   .sub-list-ha{
  //     > li > a{
  //       color: #858E92;
  //     }
  //     > li:before{
  //       color: #858E92;
  //     }
  //   }
  // }
}

.doc-content-header, .doc-content-header{
  h1, h2, h3, h4 ,h5, h6{
    font-family: $font-heading;
    letter-spacing: 2px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #1E1D28;
  }
  h1{
    text-align: left;
    font-size: 36px;
    text-transform: uppercase;
  }
  h2{
    font-size: 32px;
    text-transform: uppercase;
  }
  h3{
    font-size: 28px;
  }
  h4{
    font-size: 24px;
  }
  h5{
    font-size: 20px;
  }
  h6{
    font-size: 18px;
  }
}

.doc-content-header{
  background-color: #fff;
  padding: 10px;
  color: #191822;
  margin-bottom: 10px;

  .page-header{
    margin-bottom: 0;
  }

  .section-nav{
    list-style-image: disc;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    li{
      display: block;
      width: 50%;
      padding-left: 20px;
      position: relative;
      &:before{
        content: "\25CF";
        position: absolute;
        left: 3px;
      }
      a{
        font-family: $font-heading;
        font-size: 2rem;
        color: #251824;
        letter-spacing: 1px;
      }
    }
  }
}
.doc-content-container{
  background-color: #fff;
  padding: 20px;
  color: #1e1d28;
  pre{
    padding: 0px;
    background: transparent;
    border: 0px;
  }
  a {
    color: #2980B9;
    &:hover {
      color: #44a3e2;
    }
  }
  h2{
    text-transform: uppercase;
  }
  .btn-center{
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    margin-bottom: 10px;
  }

  blockquote{
    margin-left: -20px;
    margin-right: -20px;
    background-image: url("/assets/images/quotebg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    border-left: 0;
    padding-top: 40px;
    padding-bottom: 40px;

    font-family: $font-heading;
    color: $yellow;
    font-size: 4rem;
    line-height: 1.2em;
    letter-spacing: 1px;
    cite{
      font-family: $font-body;
      color: $foreground;
      font-size: 1.8rem;
      font-style: normal;
    }
  }
}
.static-container{
  img{
    max-width: 100%;
  }
}
