.doc-container{
  
}
.doc-content-header{
  background-color: #fff;
  padding: 20px;
  color: #191822;
  margin-bottom: 10px;
  h1{
    text-align: left;
    font-weight: bold;  
  }
  h3{
    opacity: 0.8;
    font-size: 14px;
    color: #251824;
    margin-top: 0;
  }

  .page-header{
    margin-bottom: 0;
  }

  .section-nav{
    list-style-image: disc;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    li{
      display: block;  
      width: 50%;
      padding-left: 20px;
      position: relative;
      &:before{
        content: "\25CF";
        position: absolute;
        left: 3px;
      }
      a{
        font-family: $font-heading;
        font-size: 2rem;
        color: #251824;
        letter-spacing: 1px;
      }
    }
  }
}
.doc-content-container{
  background-color: #fff;
  padding: 20px;
  color: #191822;
  code{
    background-color: #ac5544;
    color: #fff;
  }
  pre{
    code{
      background-color: transparent;
      color: #191822;
    }
  }
  
  h2{
    font-size: 2.8rem;
    font-family: 'Teko';
  }
}