.footer{
  color: $foreground;
  a{
    color: $foreground;
    &.base-link{
      color: $yellow;
      text-decoration: none;
      cursor: pointer;
      &:hover{
        color: $yellow-hover;
        text-decoration: underline;
      }
    }
  }
  .footer-hidden{
    visibility:hidden;
    @media (max-width: $screen-sm-max){
      display: none;
    }
  }
  .navbar{
    border-radius: 0;
    margin-bottom: 0;
    height: auto;
    a{
      &:focus{
        background-color: inherit;
        outline: none;
      }
    }
  }
  .nav{
    text-align: center;
    padding: 30px 0;
    font-family: $font-headline;
    border-bottom: 1px solid #474951;
    li{
      display: inline-block;
      @media (max-width: $screen-xs-max){
        display: block;
      }
      a{
        display: block;
        &:hover{
          background-color: transparent;
        }
      }
    }
  }

  .footer-below{
    padding-top: 20px;
    padding-bottom: 20px;
    .footer-below-wrap{
      transform: translateY(5px);
      @media (min-width: $screen-md-min){
        transform: translateY(11px);
        display: flex;
        justify-content: space-between;
      }
    }
  }

  .footer-subscribe{
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    @media (min-width: $screen-md-min){
      margin-left: 0;
      margin-right: 0;
    }
    &-top{
      margin-bottom: 5px;
      text-align: center;
    }
    &-field{
      display: flex;
      background-color: #000;
      padding-left: 10px;
      input{
        color: #fff;
        background-color: transparent;
        border: 0;
        flex: 1;
        margin-right: 10px;
      }
      .btn{
        letter-spacing: 1px;
        margin-right: -10px;
      }
    }
  }

  .footer-copy{
    text-align: center;
    &-logo{
      max-width: 150px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .footer-social{
    text-align: center;
    margin-left: 127px;
    @media (max-width: $screen-sm-max){
      margin-left: 0;
    }
    &-icons{
      .fa{
        font-size: 28px;
        margin-left: 5px;
        margin-right: 5px;
      }
    }
  }
  .footer-social-icons{
    a{
      padding: 0 5px;
    }
  }
}
