.form-group{
  margin-bottom: 20px;
  label{
    font-size: 18px;
    color: #ECFFFB;
    letter-spacing: 0.5px;
  }
}

.form-control{
  background-color: #000;
  color: #fff;
  border-radius: 0;
  border: 0;
  padding: 5px;
  height: 45px;
}

select.form-control{
  -webkit-appearance: none;
  appearance: none;
  background-image: url("/assets/images/chevron-down.svg");
  background-position: calc(100% - 15px) center;
  background-repeat: no-repeat;
}

.help-block{
  opacity: 0.8;
  font-size: 16px;
  font-style: italic;
  color: #ECFFFB;
  letter-spacing: 0.5px;
}