.game-feed{
  .btn-group {
    display: block;
    button {
      margin: 0.5rem;
    }
    .hide-btn {
      visibility: hidden;
    }
  }
  .table-leader {
    table-layout: fixed;
    white-space: nowrap;

    tbody > tr> td.challenge{
      background-color: #2e2e1f;
    }
  }
  .timed-out {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: red;
  }
  .seed-player {
    border-top-style: solid;
    border-top-width: 1px;
    border-color: yellow;
  }
  .watch {
    width: 17rem;
  }
  .destroyed {
    width: 15rem;
  }
  .map-size {
    width: 12rem;
  }
  .turns {
    width: 7rem;
  }
  .table-leader .td-wrapper {
    height: 2.5rem;
    max-height: 3rem;
    overflow: hidden;
    position: relative;
  }
  .table-leader .td-wrapper > div {
    white-space: nowrap;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  .game-participant {
    img {
      height: 20px;
      width: 20px;
    }
    .username {
      font-size: 1.3rem;
    }
  }
  .game-table-enter-active, .game-table-leave-active {
    transition: all 1s ease;
  }
  .game-table-enter, .game-table-leave-to {
    height: 0;
    padding: 0;
    margin: 0;
  }
  .game-table-enter-active td, .game-table-leave-active td {
    transition: all 0.3s;
  }
  .game-table-enter td, .game-table-leave-to td {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  .game-table-enter-active .td-wrapper, .game-table-leave-active .td-wrapper {
    transition: all 1s ease;
  }
  .game-table-enter .td-wrapper, .game-table-leave-to .td-wrapper {
    height: 0;
    max-height: 0;
  }
}
