html{
  background-image: url("/assets/images/site_bg.jpg");
  background-attachment: fixed;
  background-size: cover;
}

body{
  font-family: $font-body;
  background-color: transparent;
  color: #ECFFFB;

  > .body {
    margin-top: 61px;
  }
}

a{
  color: #FFBE00;
}

.nav{
  font-family: $font-headline;
  font-size: 2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.container{
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max){
    width: 100%;
  }
  @media (min-width: $screen-llg-min){
    width: 1380px;
  }
}

.page-header {
  margin-top: 0;
  border-bottom: 0;
  h1{
    font-family: "Teko";
    font-size: 3.6rem;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
  }
}

.line-container{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  &-sm{
    width: 10%;
  }
}

.page-description{
  text-align: center;
  padding: 30px 0;
  opacity: 0.8;
  font-size: 1.6rem;
  letter-spacing: 0.5px;
  &-sm{
    width: 474px;
    margin-left: auto;
    margin-right: auto;
  }
}

input:focus{
  outline: none;
  box-shadow: none;
}

.xline{
  @include line();
  &-top{
    @include line-top();
  }
  &-bottom{
    @include line-bottom();
  }
}

.bt{
  border-top: 1px solid #889295;
}
.bb{
  border-bottom: 1px solid #889295;
}
.bl{
  border-left: 1px solid #889295;
}
.br{
  border-right: 1px solid #889295;
}

.dot-tl{
  @include corner-dot();
  top: -2.5px;
  left: -2.5px;
}
.dot-tr{
  @include corner-dot();
  top: -2.5px;
  right: -2.5px;
}
.dot-bl{
  @include corner-dot();
  bottom: -1.5px;
  left: -2.5px;
}
.dot-br{
  @include corner-dot();
  bottom: -1.5px;
  right: -2.5px;
}

.xline-container{
  .xline{
    width: 100%;
  }
}

.bg-player-1, .bg-1{
  background-color: $player-1;
}
.bg-player-2, .bg-2{
  background-color: $player-2;
}
.bg-player-3, .bg-3{
  background-color: $player-3;
}
.bg-player-4, .bg-4{
  background-color: $player-4;
}
.color-1{
  color: $player-1;
}
.color-2{
  color: $player-2;
}
.color-3{
  color: $player-3;
}
.color-4{
  color: $player-4;
}
.dot{
  width: 8px;
  height: 8px;
  border-radius: 4px;
  line-height: 14px;
}

.message-box{
  text-align: center;
  p{
    margin-bottom: 0;
  }
  p+p{
    margin-bottom: 10px
  }
}
.sidebar{
  .message-box{
    max-width: 240px;
    margin-left: auto;
    margin-right: auto;
  }
}
.container-fluid .row{
  margin-left: 0;
  margin-right: 0;
}
.font-headline{
  font-family: Teko !important;
}

/** form **/
.ha-checkbox{
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color: #33313d;
  border: 1px solid $foreground;
  padding: 3px;
  vertical-align: middle;
  span{
    background-color: transparent;
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 4px;
  }

  &-checked{
    border-color: $yellow;
    span{
      background-color: $yellow;
    }
  }
}

.ha-text{
  display: inline-block;
  padding: 10px 25px;
  position: relative;
  font-family: $font-heading;
  font-size: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
  &:after, &:before{
    content: "";
    top: 0;
    width: 12px;
    height: 100%;
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  &:after{
    background-image: url("/assets/images/ha-right.svg");
    right: 0;
  }
  &:before{
    background-image: url("/assets/images/ha-left.svg");
    left: 0;
  }
}
