.hackathon-individual-container {

  $o-color: #E37222;
  $w-color: #FFFFFF;
  $g-color: #9d9d9d;

  padding: 20px 20px 0;
  .c-org{
    color: $o-color;
  }
  .c-wht{
    color: $w-color;
  }
  .c-gry{
    color: $g-color;
  }
  .c-yel{
    color: $yellow;
  }

  .d1{
    font-size: 1.4rem;
    letter-spacing: 1px;
  }
  .t1{
    font-size: 6rem;
    letter-spacing: 2px;
  }
  .t2{
    font-size: 2.5rem;
    letter-spacing: 2px;
  }
  .t3{
    font-size: 1.5rem;
    letter-spacing: 1px;
  }
  .t4{
    font-size: 1.4rem;
    letter-spacing: 1px;
  }

  .ha-button{
    background-image: url(../images/register_bg.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 25px;
    padding: 5px 20px;
    cursor: pointer;
    span{
      transform: translateY(2px);
      color: $dark-gray;
      line-height: 20px;
      padding: 3px;
      display: inline-block;
      letter-spacing: 1px;
    }
  }

  .hackathon-info {
    text-align: center;
    margin: 50px 0;

    .hackathon-info-text {
      padding: 5px 0;
      line-height: 24px;
    }
  }

  .hackathon-desc {
    padding: 50px 0;
    position: relative;

    .hackathon-desc-text {
      position: relative;
      padding: 20px 0;
      font-size: 16px;
      color: #ECFFFB;
      line-height: 24px;
    }
  }

  .inline-block {
    display: inline-block;
  }

  .mg-left-tiny {
    margin-left: 10px;
  }

  .mg-top-normal {
    margin-top: 20px;
  }

  .join-btn {
    padding: 15px 20px;
    width: 260px;
    margin: 25px auto 0;
    span {
      font-family: Teko;
      font-size: 24px;
    }
  }

  .short-line {
    width: 200px;
  }

  .right {
    float: right;
  }

  .hackathon-join{
    &-container{
      > .row{
        margin-top: 30px;
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        > [class*="col-"]{
          flex: 1;
        }
      }
    }
    &-left-col{
      max-width: 440px;
    }
  }
}