.hackathon-container{
  $o-color: #E37222;
  $w-color: #FFFFFF;
  $g-color: #9d9d9d;

  padding: 20px 20px 0;
  text-align: center;
  .c-org{
    color: $o-color;
  }
  .c-wht{
    color: $w-color;
  }
  .c-gry{
    color: $g-color;
  }
  .c-yel{
    color: $yellow;
  }

  .d1{
    font-size: 1.4rem;
    letter-spacing: 1px;
  }
  .t1{
    font-size: 6rem;
    letter-spacing: 2px;
  }
  .t2{
    font-size: 2.5rem;
    letter-spacing: 2px;
  }
  .t3{
    font-size: 1.5rem;
    letter-spacing: 1px;
  }
  .t4{
    font-size: 1.4rem;
    letter-spacing: 1px;
  }
  .mgt-10{
    margin-top: 10px;
  }
  .notification{
    background-color: $yellow;
    height: 60px;
    text-align: center;
    line-height: 60px;
    letter-spacing: 2px;
    color: $gray-bg;
    a{
      text-decoration: underline;
      cursor: pointer;
    }
  }
  .row>[class*="col"]{
    margin: 20px 0;
    >[class*="array"]{
      height: 100px;
    }
  }
  .not-me{
    width: 200px;
  }
  .me-in{
    width: 400px;
    display: flex;
    .ha-button{
      flex: 1;
    }
  }
  .ha-button-container{
    margin-left: auto;
    margin-right: auto;
  }
  .ha-button{
    background-image: url(../images/register_bg.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 25px;
    padding: 5px 20px;
    cursor: pointer;
    span{
      color: $dark-gray;
      line-height: 20px;
      padding: 3px;
      display: inline-block;
      letter-spacing: 1px;
    }
  }
  .no-bg-button{
    background-image: url(../images/temp/btn_bg.png);
    span{
      color: $yellow;
    }
  }
  .ha-line{
    background-color: #889295;
    height: 1px;
  }
  .des{
    text-align: left;
    img{
      width: 100%;
    }
    .words{
      margin-top: 90px;
      .ha-button-container{
        width:200px;
        margin-left: 0;
        text-align: center;
        transform: translateX(-15px);
      }
    }
  }
  .line-container{
    width:25%;
    position: relative;
    margin-top: 20px;
    padding-bottom: 20px;
  }
  .big-menu{
    img{
      width: 100%;
    }
    .line-container{
      width:10%;
      margin-left: auto;
      margin-right: auto;
    }
    .ha-button-container{
      width:200px;
    }
  }
  .img-des{
    border: 1px solid #757577;
    text-align: left;
    padding: 10px;
    i{
      font-size:20px;
      margin-right: 5px;
    }
    .right-btn{
      float: right;
      font-size: 1.5rem;
      cursor: pointer;
    }
  }
  .clear{
    clear: both;
  }


  .hackathon-info {
    padding-left: 0;
    margin: 0;
    li {
      list-style: none;
      display: flex;
      height: 26px;
      color: #9BA9A9;
      align-items: center;
      img {
        width: 16px;
        height: 20px;
      }
    }
  }

  .hackathon-card-item-text {
    margin: 0 0 0 8px;
  }

  .hackathon-in-progress-container {
    padding: 50px 0;
    position: relative;
  }

  .hackathon-title {
    display: inline-block;
    position: relative;
  }

  .hackathon-progress-cards {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }

  .hackathon-progress-card {
    width: 100%;
    margin: 0 auto;
    cursor: pointer;

    .hackathon-card-img {
      width: 100%;
    }

    .hackathon-card-text {
      text-align: left;
      border: 1px solid #889295;
      padding: 15px 20px;
    }
  }

  .hackathon-events-container {
    padding-top: 50px;
    position: relative;

    .event-cards {
      padding-top: 50px;
    }

    .event-card {
      background-color: #1C1A27;
      height: 130px;
      display: flex;
      margin-bottom: 20px;
      cursor: pointer;

      .event-img {
        height: 130px;
        width: 130px;
        background-size: cover;
        background-position: center;
      }

      .event-desc {
        flex: 1;
        display: flex;
        text-align: left;
        flex-direction: column;
        justify-content: center;
        padding-left: 15px;
      }

      .event-attr {
        flex: 1;
        display: flex;
        align-items: center;
        padding-left: 20px;
      }

      .event-btn {
        height: 130px;
        margin-right: 65px;
        display: flex;
        align-items: center;
      }
    }
  }
}
