.panel-group{
  background-color: transparent;
}
.panel.panel-stats{
  background-color: transparent;
  border-radius: 0;
  border: 0;
  box-shadow: none;
  .panel-heading{
    padding: 0;
    font-family: $font-heading;
    text-transform: uppercase;
    a{
      position: relative;
      display: block;
      padding: 10px 0;
      color: #858F91;
      &:hover, &:focus{
        text-decoration: none;
      }
      .toggle-icon{
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translatey(-50%);
        font-size: 16px;
        font-family: 'icofont';
      }
      .chevron{
        &:before{
          content: "\e901";
        }
      }
      &[aria-expanded="true"]{
        color: #ECFFFB;
        .chevron{
          &:before{
            content: "\e900";
          }
        }
      }
      // plus sign
      .expand{
        &:before{
          content: "\e907";
        }
      }
      &[aria-expanded="true"]{
        color: #ECFFFB;
        .expand{
          &:before{
            content: "\e908";
          }
        }
      }
    }
    h4{
      font-size: 20px;
    }
    .fa-chevron-down{
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .panel-collapse{
    padding: 15px 0;
  }
}
.panel.panel-stats+.panel.panel-stats{
  margin-top: -1px;
}


/** upload zone **/
.panel.upload-zone{
  background-color: transparent;
  border: 5px dashed #413f4a;
  border-radius: 4px;
  margin-bottom: 0;
}
.panel.upload-zone h2{
  font-family: "Teko";
}