.player-stats{
  vertical-align: center;
  padding: 10px 0;
  &-name{
    padding-right: 10px;
    max-width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  &-break-down{

  }
  &-ship, &-territory{
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .bar{
    flex: 1;
    height: 20px;
    margin-right: 2px;
    margin-left: 2px;
    background-color: #171719;
    &-1{
      background-color: rgba(255,239,229,0.3);
      border: solid #FFEFE5 1px;
    }
    &-2{
      background-color: rgba(111,177,207,0.3);
      border: solid #6FB1CF 1px;
    }
  }

  &-legend{
    padding-top: 15px;
  }
  &-legend-block{
    display: inline-block;
    width: 45px;
    height: 10px;
    margin-right: 10px;
    &-1{
      background-color: rgba(255,239,229,0.3);
      border: solid #FFEFE5 1px;
    }
    &-2{
      background-color: rgba(111,177,207,0.3);
      border: solid #6FB1CF 1px;
    }
  }
}

.player-stats-table{
  border: 0;
  width: 100%;
}
