.upload-container{
  background-color: #1c1a27;
  border-radius: 12px;
  padding: 15px;
  @media (min-width: $screen-md-min){
    padding: 30px;
  }
}

.upload-container{
  h2{
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 2px;
  }
}

.play-upload-section{
  margin-top: 40px;
  .upload-container{
    height: 100%;
    .upload-desc{
      opacity: 0.8;
      padding-left: 15px;
      padding-right: 15px;
      @media (min-width: $screen-sm-min){
        min-height: 170px;
        padding-left: 30px;
        padding-right: 30px
      }
      @media (min-width: $screen-lg-min){
        min-height: 150px;
      }
    }
    .upload-zone{
      .upload-zone-btn{
        margin-top: 30px;
      }
    }
  }
  .upload-note{
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.8;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.5px;
    @media (min-width: $screen-sm-min){
      padding-left: 30px;
      padding-right: 30px
    }
  }
}

.play-container .upload-zone{
  min-height: 260px;
}

.upload-zone{
  &-icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }
  &-desc, &-caption{
    text-align: center;
  }
  &-caption{
    margin-top: 10px;
  }
  &-btn{
    margin-top: 60px;
  }
}

.play-container{
  .mobile-strict-section{
    text-align: center;
    margin: 30px 0;
    display: none;
    img{
      margin-top: 20px;
      max-width:60px;
    }
    @media (max-width: $screen-xs-max){
      display: block;
    }
  }
  .play-upload-section{
    @media (max-width: $screen-xs-max){
      display: none;
    }
  }
  a{
    color: $yellow;
    text-decoration: none;
    cursor: pointer;
    &:hover{
      color: $yellow-hover;
      text-decoration: underline;
    }
  }
  #halitetv-more-upload{
    @media (min-width: $screen-sm-min){
      width: 83%;
      margin-left: auto;
      margin-right: auto;
    }
    h2{
      margin-top: 40px;
      font-family: $font-heading;
      text-transform: uppercase;
      font-size: 24px;
      letter-spacing: 1px;
    }
  }
}



.upload-state{
  text-align: center;
  padding: 20px;
  background-color: #1c1a27;
  border-radius: 5px;
  font-size: 16px;
  line-height: 1.5em;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: $screen-sm-min){
    padding: 40px;
  }
  @media (min-width: $screen-md-min){
    padding: 60px;
  }

  h2{
    font-size: 24px;
    letter-spacing: 2px;
    font-family: $font-heading;
    text-transform: uppercase;
  }

  &-filename{
    font-size: 20px;
    color: #63CECA;
    letter-spacing: 0.5px;
    margin: 10px 0 25px 0;
  }

  &-options{
    text-align: center;
    margin: 0 0 40px 0;
  }
  &-option-item{
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
  }

  &-buttons{
    a{
      margin-right: 15px;
      margin-left: 15px;
    }
    button{
      margin-right: 15px;
      margin-left: 15px;
    }
  }
  &-desc{
    margin-bottom: 30px;
    opacity: 0.8;
    letter-spacing: 0.5px;
  }

  &-error{
    color: $error;
    text-align: center;
    max-width: 387px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }

  // form
  &-select-bot{
    max-width: 260px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }

  select.form-control{
    background-color: #000;
    color: #fff;
    border-radius: 0;
    border: 0;
    padding: 5px;
    height: 45px;
  }
}
