.nav-tabs{
  display: flex;
  > li{
    flex: 1;
    > a{
      display: flex;
      justify-content: center;
      padding: 17px 0;
      background-color: transparent;
      border: none;
      margin-left: 0;
      .xline{
        background-color: #474951;
        &:before, &:after{
          background-color: #474951;
        }
      }
      span{
        display: block;
        color: #858E92;
        padding: 5px 15px;
      }
      &:hover, &:focus, &:active{
        background-color: transparent !important;
        border: none !important;
        background-color: 0 !important;
      }
    }
    &.active{
      a{
        background-color: transparent;
        border: none;
        span{
          @include highlight-bg();
        }
        .xline{
          background-color: #889295;
          z-index: 1;
          &:before, &:after{
            background-color: #889295;
          }
        }
      }
    }
  }
}

.tab-pane{
  padding: 30px 0;
}

.list-ha{
  padding-left: 0;
  li{
    display: block;
    padding: 15px 0;
    position: relative;
    a{
      padding: 5px 15px;
      font-family: $font-heading;
      font-size: 20px;
      color: #858E92;
      text-transform: uppercase;
      text-decoration: none;
    }
    &.active, &:hover{
      a{
        background: rgba(255, 190, 0, 0.1);
        color: $yellow;
        text-decoration: none;
      }
    }
  }
}
