.videos-feed-container{
  h3{
    font-family: $font-heading;
    font-size: 24px;
    color: #ECFFFB;
    letter-spacing: 1px;
    padding-bottom: 10px;
    border-bottom: 1px solid #474951;
  }
}
.videos-feed{
  // animation
  .vfeed-item {
    transition: all 0.5s;
  }
  .list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */ {
    opacity: 0;
  }
  .list-leave-active {
    position: absolute;
  }
  // end animation

  .vfeed-item{
    padding: 10px;
    color: #fff;
    display: flex;
    background-color: #24252c;
    margin-bottom: 10px;
    &-thumb{
      flex: 1;
      a{
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }
    &-content{
      flex: 2;
      .vfeed-item-heading{
        font-family: $font-body;
        margin-top: 0;
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 18px;
        color: #FFBE00;
        letter-spacing: 1px;
        a{
          cursor: pointer;
        }
      }
      p{
        font-size: 15px;
        color: #FFFFFF;
        letter-spacing: 0.5px;
        line-height: 1.5em;
      }
    }
  }
}

.video-list{
  a{
    cursor: pointer;
  }
}

.video-filter-container{
  .video-filter-heading{
    border-bottom: 1px solid #ECFFFB;
    h3{
      font-size: 24px;
      color: #ECFFFB;
      letter-spacing: 1px;
      margin: 0;
      padding: 10px 0;
    }
  }
  .video-filter-inputs{
    padding: 10px 0;
    margin: 0;
    margin-bottom: 20px;
    .dropdown{
      max-width: 300px;
    }
  }
}