.visuallizer-container{
  padding-top: 20px;
}
.post-game-dashboard{
  margin-top: 40px;
  @media (max-width: $screen-sm-max){
    display: none;
  }
}

.visuallizer-loading-message {
  text-align: center;
  padding: 20px 0px;
}

.game-heading{
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
  .xline{
    background-color: #474951;
    &:after, &:before{
      background-color: #474951;
    }
  }
  &-date{
    margin-bottom: 0;
  }
  &-players{
    font-family: $font-heading;
    text-transform: uppercase;
    font-size: 16px;
    color: $foreground;
    letter-spacing: 2px;
    text-shadow: 0 2px 30px rgba(0,0,0,0.20);
    text-align: center;

    .long{
      display: none;
      @media (min-width: $screen-sm-min){
        display: flex;
        justify-content: center;
      }
      >span{
        margin-left: 0;
      }
      >span+span{
        margin-left: 9px;
      }
    }
    .short{
      display: flex;
      justify-content: center;
      @media (min-width: $screen-sm-min){
        display: none;
      }
    }

    .player{
      max-width: 200px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      [class*="icon"]{
        font-size: 1.2em;
        vertical-align: middle;
      }
    }
  }
}

.xline-left {
  position: absolute;
  width: 1px;
  display: block;
  background-color: #889295;
  height: 30%;
  top: 30%;
  left: 10px;
  &.xline-left:before, &.xline-left:after {
    content: "";
    display: block;
    position: absolute;
    width: 3px;
    height: 3px;
    background-color: #889295;
    border-radius: 3px;
  }
  &.xline-left:before {
    top: -2px;
    left: -1px;
  }
  &.xline-left:after {
    bottom: -2px;
    left: -1px;
    top: auto;
  }
}

.xline-right {
  position: absolute;
  width: 1px;
  display: block;
  background-color: #889295;
  height: 30%;
  top: 30%;
  right: 10px;
  &.xline-right:before, &.xline-right:after {
    content: "";
    display: block;
    position: absolute;
    width: 3px;
    height: 3px;
    background-color: #889295;
    border-radius: 3px;
  }
  &.xline-right:before {
    top: -2px;
    right: -1px;
    left: auto;
  }
  &.xline-right:after {
    bottom: -2px;
    right: -1px;
    top: auto;
  }
}

.game-replay{
  padding: 15px 0;
  position: relative;
  >.xline{
    top: 50%;
    transform: translateY(-50%);
    margin-top: -30px;
    @media (max-width: $screen-xs-max){
      margin-top: -39px;
    }
  }
  .game-replay-viewer {
    text-align: center;
    padding: 20px 30px;
    cursor: pointer;
  }

  .game-replay-controller {
    position: relative;
    width: 100%;
    @extend .noselect;
    @media (min-width: $screen-sm-min){
      height: 60px;
    }
    .xline{
      background-color: #474951;
      &:after, &:before{
        background-color: #474951;
      }
    }

    .game-replay-btn-table {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      width: 100%;
      flex-wrap: wrap;
      @media (min-width: $screen-sm-min){
        flex-wrap: nowrap;
      }

      .game-replay-btn-cell {
        position: relative;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;

        @media (min-width: $screen-sm-min){
          width: 200px;
          padding-top: 0;
          padding-bottom: 0;
        }

        .replay-btn {
          margin-right: 25px;
          a{
            width: 18px;
            display: inline-block;
            text-decoration: none;
            color: inherit;
            &:hover, &:focus{
              color: #fff;
            }
          }
        }
      }
    }

    .game-replay-progress {
      flex: 1;
      padding-left: 20px;
      padding-right: 20px;
    }

    .game-replay-progress-inner{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .game-replay-progress-bar{
      flex: 1;
      padding: 0 5px;
    }

    .game-replay-share {
      text-align: right;
      width: 100px;
    }
  }
}

.game-replay-share{
  position: relative;
  .btn{
    letter-spacing: 2px;
  }
  .popup-container{
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%);
    z-index: 99;
  }
  .popup-overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    z-index: 98;
  }
  .popup-share{
    text-align: left;
    padding: 15px 25px 15px 15px;
    background-color: #1c1927;
    color: $foreground-2;
    a{
      color: $foreground-2;
    }
    .form-inline-button {
      padding: 0px 0px 0px 10px;

      input[type=text] {
        padding-right: 15px;
      }
    }
    label, .form-inline-button{
      margin-bottom: 5px;
    }
    label{
      font-size: 0.9em;
      display: block;
    }
    .share-socials{
      font-size: 1.5em;
    }
    .hr{
      height: 1px;
      background-color: $foreground-2;
      margin-top: 5px;
      margin-bottom: 5px;
    }
    .btn{
      margin-right: -10px;
      color: #30242F;
    }
  }
}

.card-dashboard-list{
  margin-bottom: 30px;
}
.dashboard-graph-container{
  position: relative;
  padding: 20px 0;
}
.dashboard-graph{
  &-heading{
    font-family: $font-heading;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.88px;
    text-shadow: 0 2px 30px rgba(0,0,0,0.20);

    [class*="icon"]{
      font-size: 1.2em;
      vertical-align: center;
      position: relative;
      top: 2px;
    }
  }
  &-full{

  }
}

.game-stats-widget{
  .nav-tabs{
    > li > a {
      padding-top: 14px;
      padding-bottom: 14px;
      span{
        padding-top: 7px;
        padding-bottom: 5px;
        line-height: 1em;
      }
    }
  }
}

.map-stats-props{
  tbody > tr > th, tbody > tr > td{
    padding: 8px 0;
  }

  tbody > tr > th{
    color: #b0bebe;
    padding-right: 10px;
    @media (min-width: $screen-sm-min){
      padding-right: 30px;
    }
  }
  tbody > tr > td{
    color: $foreground;
    // color: $yellow;
  }
}
.dashboard-graph {
  display: block;
}
.player-line-chart {
  display: block;
  &>svg {
    display: block;
  }
}

.player-name-anchor {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}


// slider component
.vue-slider-component{
  cursor: pointer !important;
  * {
    cursor: pointer !important;
  }
}
.vue-slider-component .vue-slider-dot{
}
.vue-slider-component.vue-slider-horizontal .vue-slider-dot{
  left: 4px;
  transform: translateX(-8px);
}