---
---

$link-color: #63ceca;
@import "bootstrap-sass-3.3.7/assets/stylesheets/bootstrap";

html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
}

body {
    padding-top: 50px;
    margin-bottom: 60px;
    background: #002226;
    color: white;
    padding-bottom: 10em;
}

.doc-nav, .doc-toc {
    margin-top: 99px;
}

.searchbarbutton {
    line-height: 1.48em;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;

    img {
        height: $navbar-height;
    }
}

.navbar-bottom {
    border-radius: 0;
    margin-bottom: 0;
}

.logged-in {
    margin-top: 5px;
    margin-bottom: 0;

    img {
        height: 40px;
    }

    a.profile-link {
        display: inline-block;
    }
}

.side-nav {
    .active > a {
        font-style: italic;
    }
}

/* Homepage */

#hero {
    width: 100%;
    height: auto;
}

.home-about-halite {
    margin: $line-height-computed 0;
}



/* General Styles */
.img-full {
    width: 100%;
}

.panel {
    color: #000;
}

#visualizer {
    margin: 0 auto;
}

nav.side-nav {
    > ul {
        padding: 0;
    }
}

.toc {
    ul {
        list-style-type: none;
        padding: 0;
    }

    .toc-group > ul {
        padding-left: 10px;
    }

    .toc-h3 {
        padding-left: 10px;
    }

    .toc-h4 {
        padding-left: 20px;
    }

    .toc-h5 {
        padding-left: 30px;
    }
}

.timed-out {
    color: $brand-danger;
}

.progress-halite {
    width: 80px;
    height: 40px;
    font-size: 0;

    .progress-bar-halite-component {
        position: relative;
        display: inline-block;
        width: 50%;
        height: 100%;
        background: rgba(#FF704B, 0.4);

        &::after {
            display: block;
            position: absolute;
            background: #FF704B;
            width: 20px;
            height: 20px;
            top: 10px;
            left: 10px;
            content: " ";
        }
    }
}

.unit-card {
    background: $panel-bg;
    color: $panel-default-text;
    margin: 0.25em;
    border-radius: $border-radius-base;
    border: 1px solid #000;

    display: flex;

    header {
        h2 {
            margin: 0;
            font-size: $font-size-h3;
            align-self: center;
            text-align: center;
            width: 100%;
        }

        background: $panel-default-heading-bg;
        border-radius: $border-radius-base 0 0 $border-radius-base;
        align-self: stretch;
        display: flex;
        width: 14rem;
    }

    div.card-body {
        flex: 1;

        > *:not(table) {
            padding: 0 $panel-body-padding;
            &:first-child {
                 padding: $panel-body-padding $panel-body-padding 0 $panel-body-padding;
            }
        }

        h3 {
            font-size: $font-size-base;

            &:first-child {
                margin-top: 0;
            }
        }

        table {
            caption {
                padding: 0 $panel-body-padding;
            }

            td {
                dl {
                    margin: 0;
                }
            }
        }
    }
}