---
---

$gray-bg: #25242f;
$dark-gray: #30242F;
$foreground: #ECFFFB;
$foreground-light: rgba(236,255, 251,0.5);
$yellow: #FFBE00;
$border: #474951;
$font-heading: "Teko";
$font-body: "Helvetica";
$font-headline: "Teko";
$screen-llg-min: 1400px;
$error: #FF2D55;

$player-1: #E37222;
$player-2: #BD00DB;
$player-3: #63CECA;
$player-4: #FFBE00;

@import "bootstrap-sass-3.3.7/assets/stylesheets/bootstrap";

@import "_mixins.scss";
@import "_fonts.scss";
@import "_icons.scss";
@import "_buttons.scss";
@import "_form.scss";
@import "_table.scss";
@import "_nav.scss";
@import "_tabs.scss";
@import "_panels.scss";
@import "_generic.scss";
@import "_header.scss";
@import "_footer.scss";
@import "_visuallizer.scss";
@import "_player-stats.scss";
@import "_cards.scss";
@import "_map-props.scss";
@import "_home.scss";
@import "_hackathon-portal.scss";
@import "_hackathon-individual.scss";
@import "_leaderboard.scss";
@import "_play.scss";
@import "_associate.scss";
@import "_user-profile.scss";
@import "_doc-page.scss";
