---
---

@import "bootstrap-sass-3.3.7/assets/stylesheets/bootstrap";

html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
}

body {
    padding-top: 50px;
    margin-bottom: 60px;
    background: #002226;
    color: white;
}

.doc-nav, .doc-toc {
    margin-top: 99px;
}

.searchbarbutton {
    line-height: 1.48em;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;

    img {
        height: $navbar-height;
    }
}

.navbar-bottom {
    border-radius: 0;
    margin-bottom: 0;
}

.logged-in {
    margin-top: 5px;
    margin-bottom: 0;

    img {
        height: 40px;
    }

    a.profile-link {
        display: inline-block;
    }
}

.side-nav {
    .active > a {
        font-style: italic;
    }
}

/* Homepage */

#hero {
    width: 100%;
    height: auto;
}

.home-about-halite {
    margin: $line-height-computed 0;
}

/* General Styles */
.img-full {
    width: 100%;
}

.panel {
    color: #000;
}

#visualizer {
    margin: 0 auto;
}

nav.side-nav {
    > ul {
        padding: 0;
    }
}

.toc {
    ul {
        list-style-type: none;
        padding: 0;
    }

    .toc-group {
        padding-left: 10px;
    }
}

.timed-out {
    color: $brand-danger;
}