alabaster==0.7.10
argh==0.26.2
Babel==2.5.0
certifi==2017.7.27.1
chardet==3.0.4
docutils==0.14
gunicorn==19.7.1
guzzle-sphinx-theme==0.7.11
idna==2.6
imagesize==0.7.1
Jinja2==2.9.6
livereload==2.5.1
MarkupSafe==1.0
pathtools==0.1.2
port-for==0.3.1
Pygments==2.2.0
pytz==2017.2
PyYAML==3.12
requests==2.18.4
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.6.3
sphinx-autobuild==0.7.1
sphinx-rtd-theme==0.2.4
sphinx-server==0.1.0
sphinxcontrib-websupport==1.0.1
static3==0.7.0
tornado==4.5.2
urllib3==1.22
watchdog==0.8.3
