---
layout: base_new
---

<div class="container">
    <div class="row">
        <div class="col-md-6">
                     
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">         
            <div class="container" id="home-page-end">
             
                <div class="footer-subscribe">
                    <p class="footer-subscribe-top">Subscribe to our newsletter</p>
                    <div class="footer-subscribe-field">
                      <input type="text">
                      <button class="btn"><span>SUBSCRIBE</span></button>
                    </div>
                  </div>
            </div>
        </div>     
    </div>
</div>

