.card-player{
  background-color: #24252C;
  padding: 10px;
  margin-bottom: 10px;
  .circle{
    width: 8px;
    height: 8px;
    border-radius: 4px;
    position: absolute;
    right: 5px;
    top: 5px;
  }

  &-name{
    font-size: 20px;
    color: #ECFFFB;
    letter-spacing: 1px;
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 15px;
  }
  &-stats{
    font-size: 14px;
    line-height: 2em;
    color: #b0bebe;
    letter-spacing: 0.5px;
    line-height: 30px;
    [class*="icon"]{
      width: 20px;
      display: inline-block;
    }
  }
  &-stats-list{
    display: flex;
    justify-content: space-between;
    @media (min-width: $screen-sm-min){
      display: block;
    }
  }
  &-stats+&-stats{
    margin-top: 0;
  }
}

.player-cards-list{
  &.row{
    margin-left: -5px;
    margin-right: -5px;
  }
  [class*="col"]{
    padding-left: 5px;
    padding-right: 5px;
  }
}

.card-dashboard{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  opacity: 0.7;
  transition: opacity 300ms, box-shadow 300ms;
  position: relative;
  background: #24252C;
  cursor: pointer;
  .xline{
    background-color: transparent;
  }
  &:hover{
    opacity: 1;
    box-shadow: 0 2px 30px rgba(0,0,0,0.20);
  }
  &.active{
    .xline{
      background-color: #889295;
    }
    opacity: 1;
    border-left: 1px solid #889295;
    border-right: 1px solid #889295;
  }
  &-thumb{
    img{
      width: 60px;
      height: 60px;
    }
  }
  &-info{
    padding: 0 5px 0 10px;
    min-width: 0;
    p{
      margin-bottom: 0;
      margin-top: 4px;
    }
  }
  &-version{
    align-self: flex-end;
    font-size: 34px;
    margin-bottom: -4px;
    line-height: 1em;
    font-family: $font-heading;
    font-weight: bold;
    letter-spacing: 1.64px;
    text-shadow: 0 2px 30px rgba(0,0,0,0.20);
  }
  &-name{
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .dot{
    display: block;
    margin-bottom: 5px;
  }
  &-version-heading{
    font-size: 14px;
    color: $foreground-light;
    letter-spacing: 1px;
    text-shadow: 0 2px 30px rgba(0,0,0,0.20);
  }
}
