    <li class="{% if include.level.index.url == page.url %}active{% endif %} toc-group">
        {{ include.level.name }}
        <ul>
            {% for subpage in include.level.pages %}
            <li class="{% if subpage.url == page.url %}active{% endif %}">
                <a href="{{ subpage.url }}">{{ subpage.title }}</a>
            </li>
            {% endfor %}
        {% for level in include.level.sublevels %}
        {% include navigation_level.html level=level %}
        {% endfor %}
        </ul>
    </li>
