    <li class="{% if include.level.index.url == page.url %}active{% endif %}">
        <a href="{{ include.level.index.url }}">
            {{ include.level.name }}
        </a>
        <ul class="list-group">
            {% for subpage in include.level.pages %}
            <li class="{% if subpage.url == page.url %}active{% endif %}">
                <a href="{{ subpage.url }}">{{ subpage.title }}</a>
            </li>
            {% endfor %}
        {% for level in include.level.sublevels %}
        {% include navigation_level.html level=level %}
        {% endfor %}
        </ul>
    </li>
