.player-stats{
  vertical-align: center;
  padding: 10px 0;
  &-name{
    padding-right: 10px;
  }
  &-break-down{
    
  }
  &-ship, &-territory{
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .bar{
    width: 10px;
    height: 20px;
    margin-right: 2px;
    margin-left: 2px;
    background-color: #171719;
    &-1{
      background-color: #B8E986;
    }
    &-2{
      background-color: #FFC760;
    }
  }

  &-legend{
    padding-top: 15px;
  }
  &-legend-block{
    display: inline-block;
    width: 45px;
    height: 7px;
    margin-right: 10px;
    &-1{
      background-color: #B8E986;
    }
    &-2{
      background-color: #FFC760;
    }
  }
}

.player-stats-table{
  border: 0;
}