AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript

ErrorDocument 404 /404.php

<IfModule mod_expires.c>
    <FilesMatch "\.(jpg|jpeg|png|gif|js|css)$">
        ExpiresActive on
        ExpiresDefault "access plus 2 days"
    </FilesMatch>
</IfModule>
